.p {
  color: black;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 50px;
  margin-left: 0px;
}

.button {
  padding: 7px;
  margin: 15px;
}

.App {
  text-align: center;
  /* margin: 50px; */
}

.App-logo {
  width: 600px;
  height: 400px;
  left: 0px;
  pointer-events: none;
}

.App-header {
  display: absolute;

  font-size: calc(10px + 2vmin);
  margin-top: 100px;
  margin-right: 50px;
}

.bioContainer {
  background-color: rgba(56, 202, 255, 0.227);
  padding: 40px;
  width: 1200px;
  margin-left: 75px;
  margin-top: 150px;
}

.companyBio {
  font-size: 35px;
}

.productContainer {
  background-color: rgba(238, 127, 255, 0.276);
  padding: 10px;
  margin: 30px;
  width: 300px;
}

.productsHeading {
  font-size: 100px;
  margin: 100px;
}

.productsBox {
  margin-left: 100px;
}

.legalDiv {
  width: 1000px;
  margin: 180px;
  margin-top: 100px;
  background-color: rgba(128, 128, 128, 0.17);
  padding: 50px;
}

.userName {
  font-weight: 700;
  font-size: 50px;
}

.userEmail {
  font-size: 20px;
}

.userInfoDiv {
  background-color: rgba(128, 128, 128, 0.169);
  padding: 50px;
}

.userInfo {
  font-size: 20px;
}

.navBar {
  padding: 20px;
  font-size: 30px;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  text-decoration: none;
  color: black;
}

.navBar:visted {
  color: black;
}

#nav-list {
  margin-top: 25px;
}

.button {
  padding: 20px;
}

.calculator {
  margin: 120px;
}

.welcomeCalc {
  color: rgb(86, 149, 245);
  font-weight: 600;
  font-size: 20px;
  margin-bottom: 150px;
}
